name: "Dependabot Auto Fix"
description: "Approve and merge dependabot PRs"
runs:
  using: "composite"
  steps:
    - name: Dependabot Metadata
      id: metadata
      uses: dependabot/fetch-metadata@v2.2.0
      with:
        github-token: ${{ github.token }}

    - name: Approve a PR
      if: steps.metadata.outputs.update-type == 'version-update:semver-minor' || steps.metadata.outputs.update-type == 'version-update:semver-patch'
      shell: bash
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh pr review --approve "$PR_URL"
        gh pr merge --auto --merge "$PR_URL"
